# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>Analytics for Merchants on the Go</p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Track</h2>
      <p>Mobile merchants have unique needs for data collection.  Where are you most profitable? How does transaction size vary from location to location?  Which times are best for which places?  GoWhere allows you to visualize your transaction data across different locations and times, allowing you to optimize your placement.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Sell</h2>
      <p>Built on SimplifyCommerce, GoWhere allows you to process transactions on the go, with a mobile website (App coming soon!).  Unlike other payment solutions, GoWhere unifies your location data with transaction data, allowing for unprecedented analyics.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Analyze</h2>
      <p>What kind of insights can you get from unified location and payment data?  Identify nearby competitors or partners (using MasterCard's Places dataset).  Get a route plan for your day.  See what impact twitter or facebook has on your daily revenue.</p>
    </div>
<div class="col-sm-6 col-md-12 col-lg-3">
      <h2>Get Started Now!</h2>
      <p><a class="btn btn-default" href="/dashboard" role="button">View Demo<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
 </a></p> 
    </div>
  </div>
# endblock
